@tailwind base;
@tailwind components;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow-x: none;
}

h1 {
  font-size: 1.625rem;
  font-weight: 500;
  line-height: 1.2;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.2;
  }
}

@media (min-width: 768px) {
  .mobile-only {
    display: none;
  }
}

h2 {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.2;
}

@media only screen and (max-width: 600px) {
  h2 {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2;
  }
}

h3 {
  font-size: 2.25rem;
  font-weight: 500;
  line-height: 1.2;
}

@media only screen and (max-width: 600px) {
  h3 {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.2;
  }
}

h4 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 22px;
}

@media only screen and (max-width: 600px) {
  h4 {
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 22px;
  }
}

p {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.34;
}

@media only screen and (max-width: 600px) {
  p {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.2;
  }
}

.privacy-policy-terms-conditions ul {
  margin-block-start: 1em;
  margin-block-end: 1em;
  @apply block list-disc ms-0 me-0 ps-10;
}

.privacy-policy-terms-conditions p {
  @apply mb-4;
}

.animatedTextGradient {
  background: linear-gradient(
    263.81deg,
    #2300ff,
    #3e3bff,
    #2323ff,
    #191698,
    #2020bb,
    #2300ff
  );
  background-size: 200% auto;
  color: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  animation: linearWipe 1.5s linear infinite;
}

.textGradientOnDark {
  background: radial-gradient(
    11.79% 177.96% at 41% 84.49%,
    #3f20ff 0%,
    #5e44ff 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

@keyframes linearWipe {
  to {
    background-position: 200% center;
  }
}

@-webkit-keyframes linearWipe {
  to {
    background-position: 200% center;
  }
}

.container {
  scroll-snap-type: y mandatory;
}

.slideIn {
  animation: slide-in 0.5s forwards;
  -webkit-animation: slideIn 0.5s forwards;
}

.slideOut {
  animation: slide-out 0.5s forwards;
  -webkit-animation: slideOut 0.5s forwards;
}

@keyframes slideIn {
  100% {
    transform: translateX(0%);
    opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  100% {
    -webkit-transform: translateX(0%);
    opacity: 0;
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@-webkit-keyframes slideOut {
  0% {
    -webkit-transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}

.gr-icon-white path {
  stroke: #ffffff;
}

@media screen and (min-width: 1024px) {
  :root {
    --card-height: 50vh;
    --card-margin: 0;
    --card-top-offset: 0;
    --numcards: 4;
    --outline-width: 0px;
  }

  .cards {
    padding-bottom: calc(var(--numcards) * var(--card-top-offset));
    margin-bottom: var(--card-margin);
  }

  .card_1 {
    --index: 1;
  }

  .card_2 {
    --index: 2;
  }

  .card_3 {
    --index: 3;
  }

  .card_4 {
    --index: 4;
  }

  .card {
    position: sticky;
    top: 0;
    padding-top: calc(var(--index) * var(--card-top-offset));
  }

  @supports (animation-timeline: works) {
    @scroll-timeline cards-element-scrolls-in-body {
      source: selector(body);
      scroll-offsets: selector(#cards) start 1, selector(#cards) start 0;
      start: selector(#cards) start 1;
      end: selector(#cards) start 0;
      time-range: 4s;
    }

    .card {
      --index0: calc(var(--index) - 1);
      --reverse-index: calc(var(--numcards) - var(--index0));
      --reverse-index0: calc(var(--reverse-index) - 1);
    }

    .card__content {
      transform-origin: 50% 0%;
      will-change: transform;

      --duration: calc(var(--reverse-index0) * 1s);
      --delay: calc(var(--index0) * 1s);

      animation: var(--duration) linear scale var(--delay) forwards;
      animation-timeline: cards-element-scrolls-in-body;
    }

    @keyframes scale {
      to {
        transform: scale(calc(1.1 - calc(0.1 * var(--reverse-index))));
      }
    }
  }
}

@tailwind utilities;
